.header {
   padding: 2rem;
   background-color: $color-green;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;

   &__logo-box img {
      width: 16rem;
      height: 5rem;
   }

   &__nav a:not(:last-child) {
      margin-right: 2.6rem;
   }

   &__link:link,
   &__link:visited {
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 500;
      color: $color-black;
   }

   &__link:hover,
   &__link:active {
      border-bottom: 2px solid $color-pink;
   }
}

.home {
   height: 50rem;
   display: grid;
   grid-template-columns: 55fr 45fr;

   &__main {
      width: 85%;
   }

   &__paragraph {
      font-weight: 500;
      line-height: 2.2;
      font-size: 1.6rem;
   }

   &__btn:link,
   &__btn:visited {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      background-color: $color-pink;
      padding: 1.6rem 2.8rem;
      border-radius: 33px;
      font-size: 1.8rem;
      font-weight: 600;
      color: $color-brown;
      box-shadow: 0 3px 12px #0000005e;
      transition: all 0.3s;
   }

   &__btn:hover {
      color: $color-coffee;
      background-color: $color-green;
   }

   &__btn:active {
      box-shadow: 0 3px 5px #00000054;
      transform: translateY(3px);
   }

   &__img {
      position: relative;
      top: 0;
      left: 0;

      img {
         position: absolute;
         height: 42%;
         width: 45%;
         border-radius: 3px;
         box-shadow: 0 1px 23px rgba($color-coffee, 0.7);
         transition: all 0.3s;
         outline-offset: 2rem;

         &:hover {
            z-index: 999;
            transform: scale(1.05) translateY(-5px);
         }
      }

      &-1 {
         top: 20rem;
         left: 16rem;
         z-index: 3;
      }

      &-2 {
         top: 10rem;
         left: 30rem;
      }

      &-3 {
         top: 10rem;
         left: 0;
      }
   }

   &__container:hover img:not(:hover) {
      transform: scale(0.95);
   }
}
