@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

body {
   font-weight: 400;
   /* font-size: 16px; */
   line-height: 1.7;
   font-family: "Montserrat", sans-serif;
   color: $color-grey-dark;
   // padding: 3rem;
}
