.section-home {
   background-color: $color-brown;
   padding: 12rem 2rem 8rem 2rem;
}

.section-about {
   background-color: $color-pink;
   padding: 12rem 2rem 8rem 2rem;
}

.section-product {
   background-color: $color-green;
   padding: 12rem 2rem 8rem 2rem;
}
