.section-home {
   background-color: $color-brown;
   padding: 16rem 2rem 12rem 2rem;
}

.section-about {
   background-color: $color-pink;
   padding: 16rem 2rem 12rem 2rem;
}

.section-product {
   background-color: $color-green;
   padding: 16rem 2rem 12rem 2rem;
}

.section-order {
   background: linear-gradient(to right, $color-brown 30%, $color-pink 60%);
   padding: 16rem 2rem 12rem 2rem;
}

.section-footer {
   background-color: $color-coffee;
   padding: 6rem 2rem 2rem 2rem;
}
